*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(300deg,#1d3263, #442063);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-dark {
    background-color: #007bff !important;
}

.navbar-dark .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar-dark .nav-link {
    font-size: 1.1rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-dark .nav-link:hover {
    color: #ff8c94;
}

.text{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 98vh;
}

.img img{
    border-radius: 100%;
}