*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(300deg,#1d3263, #442063);
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 98vh;
}

.img img{
    border-radius: 100%;
}